body {
    background: rgb(255, 254, 254);
  } 

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

#aboutme {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}