body {
    background: rgb(255, 254, 254);
  } 

header {
  display: block;
  background-color: rgb(162, 240, 240);
  text-align: center;
  padding-bottom: 50px;
}

#pagetop p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

p {
  text-align: center;
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

nav a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 2.5em;
}

#truman {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  height:fit-content;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 2.0em;
  }

div#aboutme {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  background-color: aquamarine;
}

div#animals {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: blueviolet;
}

div#animals div#nala {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  padding-bottom: 50px;
}

div#animals div#penny {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  padding-bottom: 50px;
}

#nalasleeping {
  display: block;
  width: 300px;
  height: 400px;
  padding-left: 35%;
}

#pennypuppy {
  display: block;
  width: 300px;
  height: 300px;
  padding-left: 35%;
  padding-top: 50px;
}